name: Smoke Test

on: 
  workflow_dispatch:
  pull_request:

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  newman:
   uses: derekbelrose/boxboat-reusable-workflows/.github/workflows/simple-tracker-test.yaml@main

  publish_newman:
   with:
     upload_artifact: true
   needs: newman
   runs-on: ubuntu-latest
   strategy:
     matrix:
       folder: ['employees', 'clients', 'contracts', 'history' ]
   steps:
     - name: Download Artifacts
       uses: actions/download-artifact@v3
       with:
         name: boxboat-simple-tracker-express-api-${{ github.run_number }}-${{ matrix.folder }}-markdown
         path: ${{ matrix.folder }}
     - name: Install hugo cli
       run: |
        wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb
     - name: Checkout GitHug Pages
       uses: actions/checkout@v3
       with:
         ref: 'pages'
     - name: Setup Pages
       id: pages
       uses: actions/configure-pages@v3
     - name: Install NodeJS dependencies
       run: "[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci | true"
     - name: Build Hugo Site
       env:
         HUGO_ENVIRONMENT: production
         HUGO_ENV: produciton
       run: hugo --minify --baseUrl "${{ steps.pages.outputs.base_url }}/"

