---
name: Smoke Test

on: 
  workflow_dispatch:
  pull_request:

env:
  GH_TOKEN: ${{ github.token }}

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false
  
jobs:
  newman:
    uses: derekbelrose/boxboat-reusable-workflows/.github/workflows/simple-tracker-test.yaml@main
    with:
      upload_artifact: true
  publish_newman:
    needs: newman
    continue-on-error: true
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder: ['employees', 'clients', 'contracts', 'history']
    env:
      HUGO_VERSION: 0.108.0
    steps:
      - name: Download Artifacts
        id: pages
        uses: actions/download-artifact@v3
        with:
          name: boxboat-simple-tracker-express-api-${{ github.run_number }}-${{matrix.folder }}-markdown
          path: ${{ matrix.folder }}
      - name: Show results
        run: ls -R
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          ref: 'pages'
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v3
