name: Test api

on: 
  workflow_dispatch:

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Pull Latest Image
      run: |
        ORG=${GITHUB_REPOSITORY%%/*}
        REPO=${GITHUB_REPOSITORY##*/}
        echo "org: $ORG"
        echo "repo: $REPO"

        export TAG=$(gh api \
          -H "Accept: application/vnd.github+json" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          /orgs/$ORG/packages/container/$REPO/versions \
          | jq -r '.[].metadata.container.tags | .[0]' \
          | sort --version-sort \
          | tail -n1)

        export IMAGE_NAME=ghcr.io/${GITHUB_REPOSITORY,,}:$TAG
        docker pull $IMAGE_NAME

    - name: Checkout Spec Repo
      uses: actions/checkout@v3
      with:
        repository: boxboat-github-practice/simple-tracker-spec

    - name: list images
      run: |
        echo "pwd:"
        ls -lah
        echo "parent dir:"
        ls -lah ..

        docker run -p 8081:8081 --name api -d $IMAGE_NAME
        npm install newman

        ready=0
        while [[ $ready != 200 ]]; do
          ready=$(curl -s -I 127.0.0.1:8081/employees | head -n 1 | awk -F ' ' '{print $2}')
          sleep 0.1 
        done

        curl 127.0.0.1:8081/employees | jq .

