name: Smoke Test

on: 
  workflow_dispatch:
  pull_request:

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  newman:
   uses: derekbelrose/boxboat-reusable-workflows/.github/workflows/simple-tracker-test.yaml@main
   with:
     upload_artifact: true

  publish_newman:
   needs: newman
   runs-on: ubuntu-latest
   strategy:
     matrix:
       folder: ['employees', 'clients', 'contracts', 'history' ]
   steps:
     - name: Download Artifacts
       uses: actions/download-artifact@v3
       with:
         name: boxboat-simple-tracker-express-api-${{ github.run_number }}-${{ matrix.folder }}-markdown
         path: ${{ matrix.folder }}
     - name: Show results
       run: ls -R 
